.profile {
    align-items: center;
    text-align: center;
    margin-top: 200px;
}

.profile_inner {
    margin: 25px;
}

.profile_title {
    padding-bottom: 15px;
}

.profile_description {
    padding-bottom: 10px;
    text-align: center;
}
