{{- define "main" }}

{{- $pages := union .RegularPages .Sections }}

{{- if .IsHome }}
{{- $pages = first 0 (where site.RegularPages "Section" "tech_writings") }}
{{- partial "index_profile.html" . }}
{{- if $pages }}
<hr>
<p class="latest_writings">Recent Writings: </p>
{{- end }}
{{- end }}

{{- if not .IsHome | and .Title }}
<div class="page-header">
    <p class="page-header-title">{{ .Title }}</p>
    <p class="page-header-subtitle">{{ .Params.subtitle }}</p>
    {{- if .Params.line }}
    <hr style="width: 400px">
    {{- end }}
</div>
{{- end }}

{{- range sort $pages "Weight" "asc" }}
<a aria-label="post link to {{ .Title }}" href="{{ .Permalink }}">
    <div dir="auto" class="post-entry">
        <div class="entry-header">
            <div style="white-space: nowrap">
                <p class="entry-title">
                    {{- if .Params.subtitle }}
                    {{- .Title }}:
                    {{- else }}
                    {{- .Title }}
                    {{- end }}
                </p>
                <p class="entry-subtitle">{{ .Params.subtitle }}</p>
            </div>
            {{- if not .RegularPages}}
            {{- if (and .Params.arabic_date .Params.arabic_location)}}
            <p class="entry-info">{{ .Params.arabic_date }}</p>
            {{ else }}
            {{- if .Params.date}}
            <p class="entry-info">{{ .PublishDate.Format "2 Jan 2006" }}</p>
            {{- end }}
            {{- end }}
            {{- end }}
        </div>
        <p class="entry-description">{{ .Description }}</p>
    </div>
</a>
{{- end }}

{{- end }}
